
{% extends 'global/base.html' %}
{% block title %}Home |{% endblock title %}
{% block content %}
<main class="main-content-container">
<div class="main-content main-content-list container">
    {%include 'recipes/partials/recipe.html'%}
    {%include 'recipes/partials/recipe.html'%}
    {%include 'recipes/partials/recipe.html'%}
    {%include 'recipes/partials/recipe.html'%}
    {%include 'recipes/partials/recipe.html'%}
    {%include 'recipes/partials/recipe.html'%}
          
</div>
</main>
{% endblock content %}